<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <p class="title">
    <%= micropost.title %>
  </p>
  <p class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </p>
  <p class="timestamp">
    Posted <%= time_ago_in_words micropost.created_at %> ago.
    <% if current_user? micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
        data: {confirm: "You sure?"} %>
    <% end %>
  </p>
  <% if logged_in? %>
    <% if current_user.following? micropost.user or current_user == micropost.user %>
      <div class="comments_micropost">
        <%= render micropost.comments %>
      </div>
      <p>
        <%= form_for Comment.new, remote: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :micropost_id, value: micropost.id %>
          <%= f.text_area :content, class:"comment-box" %>
          <%= f.submit "Comment", class: "btn btn-primary btn-sm
            comment-button" %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</li>
